/* ConfirmDeleteModal.module.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow-y: auto;
}

.modal {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  max-width: 30vw;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleContainer h2 {
  color: var(--Text-Color);
  font-size: 24px;
  font-weight: 500;
}

.titleContainer button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal p {
  margin: 24px 0px 40px 8px;
}

.buttonContainer {
  display: flex;
  justify-content: right;
  gap: 16px;
  margin-top: 24px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .modal {
    max-width: 80vw;
  }
}

@media (max-width: 480px) {
  .modal p {
    display: none;
  }
  .modal {
    max-width: 80vw;
    max-height: 100vh;
    margin: 0;
    padding: 16px;
  }
  .buttonContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: inherit;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
  }
}
