.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in width/height */
  padding: 16px; /* Add padding for better spacing */
  height: 48px;

  cursor: pointer;
  border-radius: 4px;
  background: var(--background-mode, #fff);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.16);
}

.content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 100%;
}

.container h3 {
  color: var(--Primary-Color, #bf310c);
  font-size: 16px;
  font-weight: 600;
  margin: 0; /* Remove default margin */
}

.container p {
  color: var(--text-color, #333);
  font-size: 16px;
  font-weight: 400;
  margin: 0; /* Remove default margin */
}

.divider {
  width: 2px;
  height: 16px;
  background-color: #bf310c;
}

@media (max-width: 480px) {
  .container {
    width: 95%;
  }
}
