.outerContainer {
  width: 100vw;
  height: 100vh;
  background: var(--OffWhite, #fafafa);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  left: 40px;
  top: 40px;
  /* transform: rotate(-90deg); */
}

.container {
  display: flex;
  width: 35vw; /* Updated to match login container width */
  padding: 40px 48px 32px 48px; /* Updated padding to match login */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px; /* Updated gap to match login */

  border-radius: 20px;
  background: var(--background-mode, #fff);
  box-shadow: 40px 40px 60px 0px rgba(228, 230, 234, 0.74);
}

.container h1 {
  font-family: inter;
}

.container label {
  font-family: Inter;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px; /* Added form gap to match login form styles */
}

.form div {
  display: flex;
  flex-direction: column;
}

.form input {
  height: 48px;
  padding: 0px 12px;
  margin: 8px 0;

  border-radius: 8px;
  border: 1px solid var(--outline-default, #d0d5dd);
}

::placeholder {
  color: var(--foreground-default, #344054);
  font-family: "Inter-Bold", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
}

.buttonContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: row !important;
  width: 100%;
  align-items: center;
  justify-content: left;
  gap: 16px;
}

.registerButton {
  background-color: #4156a1;
  color: white;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  padding: 8px 48px; /* Updated padding to match login button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginContainer {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loginContainer a {
  color: #4156a1;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.loginContainer p {
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

/* Desktop (993px and above) */
@media (max-width: 480px) {
  .outerContainer {
    background-color: #fff;
  }
  .container {
    width: 100%;
    margin: 16px 16px;
    padding: 0px 0px;

    border-radius: 8px;
    background: var(--background-mode, #fff);
    box-shadow: none;
  }
}
