.inputContainer {
  width: 100%;
}

.input {
  display: flex;
  width: 396px;
  height: 48px;
  align-items: center;
  gap: 8px;
  padding: 0px 12px;
  margin: 8px 0;

  border-radius: 8px;
  border: 1px solid var(--outline-default, #d0d5dd);
}

::placeholder {
  color: var(--foreground-default, #344054);
  /* body/medium/regular */
  font-family: "Inter-Bold", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
}
