.outerContainer {
  width: 100vw;
  height: 100vh;
  background: var(--OffWhite, #fafafa);
  display: flex;
  align-items: center;
  justify-content: center;
}

.outerContainer h1 {
  font-family: inter;
}

.logo {
  position: fixed;
  left: 40px;
  top: 40px;
}

.container {
  display: flex;
  width: 35vw;
  padding: 80px 48px 32px 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border-radius: 20px;
  background: var(--background-mode, #fff);
  box-shadow: 40px 40px 60px 0px rgba(228, 230, 234, 0.74);
}

.inputContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
}

.inputContainer div {
  display: flex;
  justify-content: space-between;
}

.inputContainer a {
  color: #4156a1;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.form label {
  font-family: Inter;
}

.input {
  height: 48px;
  padding: 0px 12px;
  border-radius: 8px;
  border: 1px solid var(--outline-default, #d0d5dd);
}

::placeholder {
  color: var(--foreground-default, #344054);
  /* body/medium/regular */
  font-family: "Inter-Bold", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
}

.buttonContainer {
  margin-top: 8px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  gap: 16px;
}

.loginButton {
  background-color: #4156a1;
  color: white;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  padding: 8px 48px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registerContainer {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.registerContainer a {
  color: #4156a1;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}
.registerContainer p {
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

@media (max-width: 480px) {
  .outerContainer {
    background-color: #fff;
  }
  .container {
    width: 100%;
    margin: 16px 16px;
    padding: 0px 0px;

    border-radius: 8px;
    background: var(--background-mode, #fff);
    box-shadow: none;
  }
}
