.outerContainer {
  width: 100vw;
  min-height: 100%;
  height: -webkit-fill-available;

  background: var(--OffWhite, #fafafa);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  position: fixed;
  left: 40px;
  top: 40px;
}

.container {
  border-radius: 20px;
  background: var(--background-mode, #fff);
  box-shadow: 40px 40px 60px 0px rgba(228, 230, 234, 0.74);
  width: 60vw;
  padding: 40px;
}

.errMsg {
  color: #8c211a;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: #ffdce0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.errMsg p {
  margin-left: 16px;
}

.noErrMsg {
  display: none;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  gap: 56px;
}

.imgContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer img {
  width: 100%;
}

.containerLogin {
  width: 50%;
  display: flex;

  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
}

.containerLogin h1 {
  color: var(--Text-Color, #333333);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.inputContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
}

.inputContainer div {
  display: flex;
  justify-content: space-between;
}

.inputContainer a {
  color: #4156a1;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.input {
  height: 48px;
  padding: 0px 12px;
  border-radius: 8px;
  border: 1px solid var(--outline-default, #d0d5dd);
}

.persist {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--Secondary-Color, #4156a1);
}

/* Style the checkbox itself */
.persistInput {
  width: 16px; /* Width of the checkbox */
  height: 16px; /* Height of the checkbox */
  cursor: pointer; /* Change cursor to pointer on hover */
}

::placeholder {
  color: var(--foreground-default, #344054);
  /* body/medium/regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
}

.buttonContainer {
  margin-top: 8px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  gap: 16px;
}

.loginButton {
  background-color: #4156a1;
  color: white;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  padding: 8px 48px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.orContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.orContainer p {
  color: #98a2b3;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.googleLoginButton {
  height: 40px;
  margin-top: 8px;
  width: 175px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  border: 1px solid #333333;
  border-radius: 4px;
  cursor: pointer;
}
.divider {
  width: 24px;
  height: 1px;

  background-color: #98a2b3;
}

.registerContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.registerContainer a {
  color: #4156a1;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}
.registerContainer p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

@media only screen and (min-device-width: 480px) and (max-device-width: 1350px) and (-webkit-min-device-pixel-ratio: 1) {
  .imgContainer {
    display: none;
  }
  .containerLogin {
    width: 100%;
    padding: 0px;
  }
  .container {
    width: 40vw;
    padding: 40px;
  }
  .registerContainer {
    margin-top: 40px;
  }
}

@media (max-width: 1024px) and (min-width: 480px) {
  .imgContainer {
    display: none;
  }
  .containerLogin {
    width: 100%;
    padding: 0px;
  }
  .container {
    width: 70vw;
    padding: 40px;
  }
  .registerContainer {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  .logo {
    display: none;
  }
  .imgContainer {
    display: none;
  }
  .containerLogin {
    width: 100%;
    padding: 0px;
  }
  .outerContainer {
    background-color: #fff;
  }
  .container {
    width: 100%;
    margin: 16px 16px;
    padding: 0px 0px;

    border-radius: 8px;
    background: var(--background-mode, #fff);
    box-shadow: none;
  }
  /* Style the checkbox itself */
  .persistInput {
    width: 20px; /* Width of the checkbox */
    height: 20px; /* Height of the checkbox */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
}
