.editRecipeLink {
  margin-right: 16px;
  margin-bottom: 16px;
  width: 100%; /* Full width to fill the container */
  display: flex; /* Use flex to align items */
  justify-content: right;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  margin-top: 24px;
  position: relative;
}

.menuBackground {
  background-color: red;
}

.container h3 {
  color: var(--Primary-Color, #bf310c);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.upperContainer {
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 100%;
}

.leftUpperContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.titleContainer h2 {
  color: var(--Primary-Color, #bf310c);
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.titleContainer div {
  display: flex;
  gap: 8px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.descriptionContainer h3 {
  color: var(--Primary-Color, #bf310c);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.divider {
  height: 1px;
  background: #dcdcdc;
}

.descriptionContainer p,
.ingredientsContainer label,
.instructionsContainer p {
  color: var(--text-color, #333);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.imgContainer {
  flex-grow: 1;
  height: 50vh;
  width: 30vw;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.placeholderImg {
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.lowerContainer {
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 100%;
}

.ingredientsContainer {
  margin-top: 24px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
}
.instructionsContainer {
  margin-top: 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 4px;
  min-width: 30vw;
}

.ingredientsContainer h3,
.instructionsContainer h3 {
  color: var(--Primary-Color, #bf310c);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.ingredientsContainer li,
.instructionsContainer li {
  border-left: #bf310c 2px solid;
  padding-left: 8px;
}
.instructionsContainer label {
  color: var(--Primary-Color, #bf310c);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.ingredientsContainer li {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #dcdcdc;
}

.instructionsContainer ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .upperContainer {
    flex-direction: column-reverse;
    gap: 8px;
  }
  .leftUpperContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .imgContainer {
    width: 100%;
  }
  .lowerContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .ingredientsContainer ul {
    gap: 4px;
  }
}

/* Media queries for mobile responsiveness */
@media (max-width: 480px) {
  .editRecipeLink {
    width: 100vw;
  }
  .editRecipeLink a {
    margin-right: 16px;
  }
  .container {
    gap: 16px;
    margin-top: 8px;
  }
  .upperContainer {
    flex-direction: column-reverse;
    gap: 8px;
  }
  .leftUpperContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .imgContainer {
    width: 100%;
  }
  .lowerContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .ingredientsContainer ul {
    display: flex;
    flex-direction: column;
  }
}
