.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: relative;
}

.logoContainer {
  position: absolute;
  top: 40px;
  left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.logo {
  color: #bf310c;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
.logoContainer p {
  color: #bf310c;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.heroContainer {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  gap: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.titleContainer {
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textContainer h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  width: 70%;
}

.description {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 31px;
  width: 80%;
}

.buttonContainer {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.loginButton {
  background-color: #4156a1;
  color: white;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.signupButton {
  border: #4156a1 solid 2px;
  background-color: transparent;
  color: #4156a1;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  padding: 6px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.heroImgContainer {
  position: relative;
  width: 50%;
}

.heroImgContainer img {
  width: 100%;
  position: relative;
  z-index: 2; /* Ensure the image stays above the circle */
}

/* Base bubble styling */
.bubble {
  position: absolute;
  bottom: 30%; /* Position the circle at the bottom of the container */
  left: -10%;
  /* Center the circle horizontally */

  width: 348px;
  height: 348px;
  border-radius: 50%;
  background: #8da0e0;
  z-index: 1; /* Ensure the circle is underneath the image */

  animation: bubbleAnimation 3s ease-in-out infinite;
}

/* Keyframes for the scaling effect */
@keyframes bubbleAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

/* recipeImg section */
.recipeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipeSection div {
  transform: translateY(-10%);
  background-color: #ffff;
  width: 70vw;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 40px;
  padding-top: 40px;
}

.recipeSection img {
  width: 100%;
  border-radius: 16px;
  border: 1px solid var(--outline-default, #d0d5dd);
  /* box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.16); */
}

.stepsContainer {
  width: 100%;
  height: 50vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-bottom: 48px;
}

.stepsContainer h2 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.stepsLayout {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.stepsLayout h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 240px;
}

.step p {
  color: #333;

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.stepImgBlue {
  display: flex;
  width: 80px;
  height: 80px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 100px;
  background: #c6cff0;
}

.stepImgRed {
  display: flex;
  width: 80px;
  height: 80px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 100px;
  background: #f2d6ce;
}

.leftSection {
  width: 90vw;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.sectionImg {
  width: 40vw;
  border: 1px solid var(--outline-default, #d0d5dd);
  border-radius: 16px;
}

.sectionTextContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 40vw;
}
.sectionTextContainer h2 {
  color: var(--Primary-Color, #bf310c);
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.sectionTextContainer p {
  color: var(--text-color, #333);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
}
.instructionSections {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.rightSection {
  width: 90vw;
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 80px;
  position: relative;
}

.balls {
  position: absolute;
  top: 0;
  left: 35%;
}
.balls img {
  width: 6vw;
}

.faq {
  width: 100vw;
  margin: 160px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.faq h2 {
  color: #333;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
  }

  /* Base bubble styling */
  .bubble {
    bottom: 20%; /* Position the circle at the bottom of the container */
    left: 0%;
    width: 300px;
    height: 300px;
  }

  .textContainer {
    width: 100%;
  }
  .textContainer h1 {
    width: 100%;
    text-align: center;
  }

  .description {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
  .buttonContainer {
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
  }

  .recipeSection div {
    width: 80vw;
    padding: 0 16px;
    padding-top: 16px;
  }

  .stepsContainer {
    gap: 16px;
    height: auto;
    margin: 64px 0px;
  }

  .stepsContainer h2 {
    font-size: 24px;
  }

  .stepsLayout {
    flex-direction: column;
    gap: 40px;
  }
  .stepsLayout h3 {
    font-size: 16px;
  }

  .stepImgBlue {
    display: flex;
    width: 48px;
    height: 48px;
  }

  .stepImgRed {
    display: flex;
    width: 48px;
    height: 48px;
    gap: 8px;
  }
  .leftSection {
    width: 90vw;
    gap: 16px;
    flex-direction: column;
  }
  .rightSection {
    width: 90vw;
    gap: 16px;
    flex-direction: column;
  }
  .balls {
    display: none;
  }
  .sectionImg {
    width: 80%;
  }

  .sectionTextContainer {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* Base bubble styling */
  .bubble {
    bottom: 10%; /* Position the circle at the bottom of the container */
    left: -10%;
  }

  .textContainer h1 {
    font-size: 24px;
    font-weight: 600;
  }

  .bubble {
    width: 200px;
    height: 200px;
  }

  .sectionImg {
    width: 100%;
  }

  .sectionTextContainer {
    width: 100%;
  }

  .stepsContainer {
    gap: 16px;
  }

  .stepsContainer h2 {
    font-size: 24px;
  }

  .stepsLayout {
    flex-direction: column;
    gap: 40px;
  }
  .stepsLayout h3 {
    font-size: 16px;
  }
  .step {
    gap: 8px;
  }

  .step p {
    color: #333;

    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .stepImgBlue {
    display: flex;
    width: 48px;
    height: 48px;

    gap: 8px;

    border-radius: 100px;
    background: #c6cff0;
  }

  .stepImgRed {
    display: flex;
    width: 48px;
    height: 48px;
    gap: 8px;
  }
  .faq {
    margin: 80px 0;
  }
}
