.collectionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 24px;
  gap: 16px;
  width: 100%;
}

.addCollectionLink {
  position: absolute;
  right: 40px;
  top: 80px;
}
