/* SideBar.module.css */
.sidebar {
  height: 100vh;
  width: 300px; /* Set width of the sidebar */
  background: var(--Beige-color, #f2f0ea);
  overflow: auto; /* Allow scrolling */
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.titleContainer {
  padding: 8px 16px;
  display: flex;
  margin-top: 32px;
  margin-bottom: 24px;

  /* text styles */
  color: var(--Primary-Color, #bf310c);
  align-items: center;
  gap: 16px;
}
.titleContainer h2 {
  /* text styles */
  gap: 16px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.listContainer p {
  color: var(--text-color, #333);
}

.listContainer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 100%;
  width: 100%;
}
.listContainer li:hover {
  background-color: #bf310c0d;
  cursor: pointer;
  color: var(--Primary-Color, #bf310c);
}

.profileContainer {
  width: 32px; /* Set the desired width */
  height: 32px; /* Set the desired height */
}

.active {
  background-color: #bf310c0d;
  cursor: pointer;
  color: var(--Primary-Color, #bf310c);
}
.active p {
  color: var(--Primary-Color, #bf310c);
}

.listContainer li {
  display: flex;
  padding: 8px 8px;
  align-items: center;
  border-radius: 8px;
  gap: 16px;
  align-self: stretch;
  height: 32px;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.projectList {
  margin-top: 32px;
}

.collectionListContainer {
  display: flex;
  padding: 8px 8px;
  align-items: center;
  border-radius: 8px;
  justify-content: space-between;

  align-self: stretch;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flexIcons {
  display: flex;
  gap: 4px;
  align-items: center;
}
