.logoContainer {
  position: absolute;
  top: 40px;
  left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  position: relative;
}

.linksList a {
  color: var(--text-color, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px; /* Consistent spacing */
}

.divider {
  height: 1px;
  background: #dcdcdc;
  width: 100%;
  margin-bottom: 40px; /* Add space below the divider */
}

.brandContainer {
  display: flex;
  align-items: center;
  gap: 4px; /* Space between symbol and name */
}

.brandSymbol {
  color: var(--Primary-Color, #bf310c);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.brandName {
  color: var(--text-color, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.linksList {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove padding */
  display: flex; /* Align links horizontally */
  gap: 80px; /* Space between links */
  margin-top: 16px;
}

.linksList li {
  transition: color 0.3s; /* Smooth color transition */
}

.linksList a:hover {
  color: var(--text-color, #333);
  text-decoration: underline;
}

.separator {
  margin: 16px 0; /* Spacing around separator */
  font-weight: bold; /* Bold separator text */
  color: var(--Primary-Color, #bf310c);
  cursor: default;
}

.copyRight {
  font-size: 14px; /* Smaller font size for copyright notice */
  color: #ccc; /* Grey color for copyright text */
  margin-bottom: 8px;
}

/* for mobile phones */
@media (max-width: 480px) {
  .linksList {
    flex-direction: column; /* Align links vertically */
    align-items: center;
    gap: 40px; /* Space between links */
  }
}
