.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-top: 8px; /* Space between the add link and grid */
}

.placeholderContainer {
  width: 70%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.placeholderContainer img {
  width: 20%;
  height: auto;
}

.placeholderContainer h3 {
  color: var(--Secondary-color, #4156a1);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.placeholderContainer p {
  color: var(--text-color, #333);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-wrap: pretty;
}

.addRecipeLink {
  margin-right: 16px;
  margin-bottom: 16px;
  width: 100%; /* Full width to fill the container */
  display: flex; /* Use flex to align items */
  gap: 8px; /* Space between the icon and text */
  justify-content: right;
}

/* for mobile phones */
@media (max-width: 480px) {
  .addRecipeLink {
    width: 100vw;
    margin-bottom: 8px;
  }
  .gridContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    width: 100%;
  }

  .placeholderContainer {
    width: 100%;
  }
  .placeholderContainer img {
    width: 40%;
  }
}
