:root {
  --Primary-Color: #bf310c;
  --Secondary-Color: #4156a1;
  --OffWhite-Color: #fafafa;
  --Text-Color: #333333;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
p,
label,
span {
  margin: 0;
  font-family: "Inter", Helvetica;
}
a {
  text-decoration: none;
  color: var(--Primary-Color, #bf310c);
  font-family: "Inter", Helvetica;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

span {
  margin: 0;
}

input {
  padding: 0px 8px;
  font-family: "Inter", Helvetica;
}

textarea {
  padding: 8px 8px;
  font-family: "Inter", Helvetica;
}
