* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Primary-Color: #bf310c;
  --Secondary-Color: #4156a1;
  --OffWhite-Color: #fafafa;
  --Text-Color: #333333;
  --vh: 1vh; /* Fallback for browsers that don't support custom properties */
}

html,
body {
  max-width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: var(--text-color);
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  margin: 0;
}

.full-height-element {
  height: calc(var(--vh, 1vh) * 100);
}

h1,
h2,
h3,
p,
label,
span {
  margin: 0;
  font-family: "Inter", Helvetica;
}
a {
  text-decoration: none;
  color: var(--Primary-Color, #bf310c);
  font-family: "Inter", Helvetica;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

span {
  margin: 0;
}

input {
  padding: 0px 8px;
  font-size: 16px;
  font-family: "Inter", Helvetica;
}

textarea {
  padding: 8px 8px;
  font-size: 16px;

  font-family: "Inter", Helvetica;
}
